*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#box1{
    height: 20%;
    width: 20%;
    background-color: black;
    margin-top: 10px;
    margin-left: 10px;
    border:2px;
}
