*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.box1{

    width: 20%;
    height: 20%;
background-color: hsl(50, 30%, 20%)




}

.box2{

    width: 20%;
    height: 20%;
    background-color: blue;
    margin-top: 20px;
    margin-left: 20px;
}

.box3{

    width: 20%;
    height: 20%;
    background-color: brown;
    margin-top: 20px;
    margin-left: 20px;

}