.container{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
}
.box{
    background-color: rgb(32, 107, 173);
    width: 5vw;
    height: 4vh;
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    
}
.translate{
    transform: translateX(100vw   ) translateY(100vh);
}
